/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light mode styles */
body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #4d4d4d;
    color: #fff;
}

/* Header styles */
header {
    display: flex;
    background-color: #333;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    height: 2rem;
    /* min-height: 4vh; */
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    flex-direction: row;
}
#dark-mode-toggle {
    margin-left: auto;
    padding: 0 1rem;
    background-color: #fbff00;
    color: #000000;
    border: none;
    height: 1.7rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

#dark-mode-toggle.dark-mode {
    background-color: #696969;
    color: #fff;
}

#logo {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 1rem;
    height: 1.7rem;
    text-align: center;
    vertical-align: middle;
    line-height: 170%;
}

nav ul {
    list-style-type: none;
    display: flex;
    /* height: 100%; */
    /* margin-top: 2%; */
}

nav ul li {
    margin-right: 1vw;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content-container {
    display: none;
    position: absolute;
    float: left;
    background-color: #808080;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: inherit;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content-container {
    display: block;
}

/* Main content styles */
main {
    position: relative;
    padding: 40px;
    flex-grow: 1;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #666;
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

/* Responsive styles
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 10px;
        justify-content: flex-start;
    }

    nav ul li {
        margin-right: 10px;
    }

} */
